:root {
	--bg-dark: #232527;
	--bg-dark-transparent: #1e2730b9;
	--bg-medium: #313335;
	--bg-medium-hover: #373b3f;
	--bg-light: #3d4047;

	--white: #eee;
	--gray: #aaa;

	--highlight: #ecae28;
	--highlight-hover: #eec12c;
	--highlight-active: #eee12c;

	--red: #ff4242;
	--red-bg: #613d3d;
	--red-border: #923939;

	--green: #5abd5f;
	--green-bg: #384639;
	--green-border: #2e5f31;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: var(--bg-dark);
}

body.modal-open {
	height: 100vh;
	overflow-y: hidden;
}

* {
	box-sizing: border-box;
}

button {
	font-size: inherit;
}

input, select {
	outline: none;
}