:root {
	--bg-dark: #232527;
	--bg-medium: #313335;
	--bg-light: #3d4047;

	--white: #eee;
	--gray: #aaa;

	--highlight: #ecae28;
	--highlight-hover: #eeba2c;

	--red: #ff4242;
	--red-bg: #613d3d;
	--red-border: #923939;

	--green: #5abd5f;
	--green-bg: #384639;
	--green-border: #2e5f31;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: var(--bg-dark);
}

* {
	box-sizing: border-box;
}