:root {
	--bg-dark: #232527;
	--bg-medium: #313335;
	--bg-light: #3d4047;

	--white: #eee;
	--gray: #aaa;

	--highlight: #ecae28;
	--highlight-hover: #eeba2c;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: var(--bg-dark);
}

* {
	box-sizing: border-box;
}